## Current image location. Pull always from "master" until we have a release.
image: quay.io/scottrigby/php7-apache-drupal:master
imagePullPolicy: Always

## To-do: Keep an eye on this PR in stable/drupal:
## ref: https://github.com/kubernetes/charts/pull/1232
volumeMounts:
  apache:
    mountPath: ""

## This is your host machine's full path to the Drupal docroot to mount.
## See the Dockerfile note about downloading Drupal with drush in-place for an
## out-of-the-box vanilla Drupal site.
# persistence:
#   drupal:
#     hostPath: /FULL/PATH/TO/EXISTING/HOST/DRUPAL/DOCROOT

## Override the user/login probes. Since we don't auto-install Drupal, that path
## would always fail.
## To-do: Keep an eye on this PR in stable/drupal:
## ref: https://github.com/kubernetes/charts/pull/1375
livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 30
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 30

## Uncomment these to manually set a username and password.
## Default: "user" username, and a randomly generated pass you can get by
## inspecting the "drupal-password" K8S Secret.
# drupalUsername: admin
# drupalPassword: my-secure-password

## Since we're not using the bitnami-docker-drupal image, we want to create the
## mariadb database, user, and credentials. We can do that by passing these
## values to the dependent mariadb chart.
## ref: https://github.com/kubernetes/charts/blob/master/stable/mariadb/README.md
## ref: https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md#overriding-values-from-a-parent-chart
mariadb:
  mariadbDatabase: drupal
  mariadbUser: drupal
  mariadbPassword: drupal
